# customer churn prediction

## load and data checks

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
import plotly.express as px

In [3]:
import pandas as pd
import glob

csv_files =[r"C:/Users/nikhi/Downloads/customer churn prediction/churn data bigger/customer_churn_dataset-testing-master.csv",r"C:/Users/nikhi\Downloads/customer churn prediction/churn data bigger/customer_churn_dataset-training-master.csv"]
df_list=[pd.read_csv(file,encoding="ISO-8859-1") for file in csv_files]
combined_df=pd.concat(df_list,ignore_index=True)
combined_df.to_csv("combined.csv", index=False)

In [28]:
df=pd.read_csv("combined.csv",encoding="ISO-8859-1").copy()

In [29]:
df.head(10)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1.0,22.0,Female,25.0,14.0,4.0,27.0,Basic,Monthly,598.0,9.0,1.0
1,2.0,41.0,Female,28.0,28.0,7.0,13.0,Standard,Monthly,584.0,20.0,0.0
2,3.0,47.0,Male,27.0,10.0,2.0,29.0,Premium,Annual,757.0,21.0,0.0
3,4.0,35.0,Male,9.0,12.0,5.0,17.0,Premium,Quarterly,232.0,18.0,0.0
4,5.0,53.0,Female,58.0,24.0,9.0,2.0,Standard,Annual,533.0,18.0,0.0
5,6.0,30.0,Male,41.0,14.0,10.0,10.0,Premium,Monthly,500.0,29.0,0.0
6,7.0,47.0,Female,37.0,15.0,9.0,28.0,Basic,Quarterly,574.0,14.0,1.0
7,8.0,54.0,Female,36.0,11.0,0.0,18.0,Standard,Monthly,323.0,16.0,0.0
8,9.0,36.0,Male,20.0,5.0,10.0,8.0,Basic,Monthly,687.0,8.0,0.0
9,10.0,65.0,Male,8.0,4.0,2.0,23.0,Basic,Annual,995.0,10.0,0.0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505206 entries, 0 to 505206
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         505206 non-null  float64
 1   Age                505206 non-null  float64
 2   Gender             505206 non-null  object
 3   Tenure             505206 non-null  float64
 4   Usage Frequency    505206 non-null  float64
 5   Support Calls      505206 non-null  float64
 6   Payment Delay      505206 non-null  float64
 7   Subscription Type  505206 non-null  object
 8   Contract Length    505206 non-null  object
 9   Total Spend        505206 non-null  float64
 10  Last Interaction   505206 non-null  float64
 11  Churn              505206 non-null  int64
dtypes: float64(8), int64(1), object(3)
memory usage: 50.1+ MB

In [35]:
df.describe()

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn
count,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000,505206.000000
mean,200779.451782,39.704172,31.350435,15.714825,3.833317,13.496843,620.072766,14.610581,0.555203
std,137241.343095,12.670577,17.237482,8.619323,3.133603,8.451187,245.319256,8.608286,0.496944
min,1.000000,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,63827.250000,29.000000,16.000000,8.000000,1.000000,6.000000,446.000000,7.000000,0.000000
50%,193039.500000,40.000000,32.000000,16.000000,3.000000,13.000000,648.900000,14.000000,1.000000
75%,321645.750000,49.000000,46.000000,23.000000,6.000000,20.000000,824.000000,22.000000,1.000000
max,449999.000000,65.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000

In [45]:
column=['CustomerID', 'Age', 'Gender', 'Tenure', 'Usage Frequency',
       'Support Calls', 'Payment Delay', 'Subscription Type',
       'Contract Length', 'Total Spend', 'Last Interaction', 'Churn']
for col in column:   
    print(f'{col}:'+f'{df[col].unique()}')

CustomerID:[1.00000e+00 2.00000e+00 3.00000e+00 ... 4.49997e+05 4.49998e+05
 4.49999e+05]
Age:[22 41 47 35 53 30 54 36 65 46 56 31 42 59 29 45 62 48 55 64 25 44 28 34
 24 27 61 57 37 51 18 23 60 40 26 52 43 19 58 33 20 39 32 38 21 63 49 50]
Gender:['Female' 'Male']
Tenure:[25. 28. 27.  9. 58. 41. 37. 36. 20.  8. 42. 13.  2. 46. 21.  1. 54. 40.
 39. 50. 59. 60. 44. 23. 26. 31. 30. 51. 45. 19. 14. 24. 15. 47.  3. 17.
 22. 57. 34. 29. 33. 35. 56.  5. 55. 48.  6. 32. 16. 10.  7. 43. 52. 53.
 38.  4. 11. 18. 49. 12.]
Usage Frequency:[14. 28. 10. 12. 24. 15. 11.  5.  4. 27. 23.  7. 17.  3. 30.  2. 19. 20.
 18.  8.  6. 21. 26. 16. 25. 13. 29.  9. 22.  1.]
Support Calls:[ 4.  7.  2.  5.  9. 10.  0.  6.  1.  3.  8.]
Payment Delay:[27. 13. 29. 17.  2. 10. 28. 18.  8. 23. 21. 14. 25.  3.  6. 15.  1.  9.
 30.  4.  0. 11. 16.  7. 24. 22. 12. 26. 20. 19.  5.]
Subscription Type:['Basic' 'Standard' 'Premium']
Contract Length:['Monthly' 'Annual' 'Quarterly']
Total Spend:[598.   584.   757.   ... 829.59 804.3  959.47]
Last Interaction:[ 9. 20. 21. 18. 29. 14. 16.  8. 10.  3.  1. 24. 30. 15. 25. 22. 13. 26.
 12.  4. 27.  6. 17. 19.  5.  2. 11.  7. 28. 23.]
Churn:[1 0]

In [31]:
df[df.isnull().any(axis=1)]

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
263669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.dropna(inplace=True)

In [41]:
df[['Age','Churn']]=df[['Age','Churn']].astype(int)